@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Poppins;
}
.card{
    background-color: white;
    border-radius: 15px;
    width: 90%;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    overflow: hidden;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.navbar p{
    font-size: 18px;
    font-weight: 600;
}
.navbar ul{
    display: flex;
    gap: 20px;
}
li{
    list-style-type: none;
}
.btn-grp{
    display: flex;
    gap: 10px;
    
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.btn, .plan{
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: 1s;
}
.btn{
    background-color: black;
    color: white;
}
.plan:hover{
    background-color: black;
    color: white;
}
.container{
    display: flex;
    width: 100%;
    background-color: #f9f5f2;
}
.textSection{
    max-width: 55%;
    padding: 40px;
}
.textSection h6{
    font-weight: 300;
    margin-bottom: 0;
}
.textSection h1{
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
}
.textSection p{
    font-size: 15px;
    margin-top: 5px;
}
.textSection button:hover{
    background-color: rgb(140, 137, 137);
}
.textSection ul{
    padding: 0;

} 
.textSection ul li{
    margin-bottom: 10px;
}
.textSection ul li::before{
    content: '☆';
    margin-right: 10px;
}
.image-section{
    flex: 1;
}
.image-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}